version: 2.1

executors:
  base:
    docker:
      - image: cimg/base:2023.08
    working_directory: ~/repo

jobs:
  build-docker-image:
    executor: base
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: docker build -t git-lfs .
      - run:
          name: Check kubectl
          command: docker run -it git-lfs "which" "kubectl"
      - run:
          name: Check gcloud
          command: docker run -it git-lfs "gcloud" "--version"
      - run:
          name: Check all versions
          command: |
            echo "[git] "$(docker run -it git-lfs "git"  "--version" | head -n 1)
            echo "[git-lfs] "$(docker run -it git-lfs "git" "lfs" "--version" | head -n 1)

  publish-latest-docker-image:
    executor: base
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            docker build --target git_lfs -t "aegirops/git-lfs:latest" -t "aegirops/git-lfs:${CIRCLE_TAG}" . --no-cache
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push aegirops/git-lfs:latest
            docker push aegirops/git-lfs:${CIRCLE_TAG}

workflows:
  build-test:
    jobs:
      - build-docker-image:
          filters:
            branches:
              only:
                - /.*/

  publish:
    jobs:
      - publish-latest-docker-image:
          context: dockerGitLfs
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only:
                - /^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/
